<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Coffee Around LSE - About</title>
  <link href='static/css/bootstrap.min.css' rel='stylesheet'>
  <link href='static/css/styles.css' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="static/assets/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/assets/css/hexagons.min.css">
  <script src='static/js/javascript.js'></script>
  <script src="static/assets/js/jquery-2.1.0.min.js"></script>
  <script src="static/assets/js/hexagons.min.js"></script>
  <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/tasty-bites-icon-set/128/coffee.png">
</head>
<body>
  <header>
<!-- nav bar -->
    <div id='navbar'>
      <a href='./home'>HOME</a>
      <a href='./contact'>ABOUT</a>
      <a href='./map'>MAP</a>
      <a hrer='./quiz'>TEST</a>
    </div>
<!-- /nav bar -->
  </header>
  <h2=class 'titleinvisible'>QUIZ</h2>

  <!--  quiz -->
  <div class="container">
    <div style="text-align:center">
      <h3 id='about-title'>What Kind of Coffee Are You?</h3>
    </div>
    <div class="row">

      <div class="column">
        <p id='quote'>Cappuccino!</p>
        <p id='us'> You like your coffee frothy, milky and in real life too, you enjoy the little pleasures of life to their fullest.
           Cappuccino is usually the first type of coffee that people start with, and many religiously end up having it as their morning essential.
           Cappuccino drinkers also like to soften the bitterness of coffee and don’t always care about themselves and instead go out of the way for others.

.  </p>
          <p>Check our recommendations where to get the best Cappuccino in London:</p>

          <a href='./home'><input type="submit" value="Yay">

      </div>


      <div class="column">
        <img class="img-responsive" src='static/images/cappucino.jpg' style="width:95%;height:95%;padding-bottom:50px;">
      </div>
    </div>
  </div>



<!-- /footer -->

<footer>
  <p id='footertext'>CONNECT WITH US</p>
  <a href="https://www.facebook.com/"><span class="hb hb-xs spin-icon inv"><i class="fa fa-facebook"></i></span></a>
  <a href="https://twitter.com/"><span class="hb hb-xs spin-icon inv"><i class="fa fa-twitter"></i></span></a>
  <a href="https://plus.google.com/discover"><span class="hb hb-xs spin-icon inv"><i class="fa fa-google-plus"></i></span></a>
	<a href="https://www.youtube.com/"><span class="hb hb-xs spin-icon inv"><i class="fa fa-youtube"></i></span></a>
  <a href="https://en.wikipedia.org/wiki/RSS"><span class="hb hb-xs spin-icon inv"><i class="fa fa-rss-square"></i></span></a>
</footer>
</body>
</html>
