<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Coffee Around LSE - About</title>
  <link href='static/css/bootstrap.min.css' rel='stylesheet'>
  <link href='static/css/styles.css' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="static/assets/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/assets/css/hexagons.min.css">
  <script src='static/js/javascript.js'></script>
  <script src="static/assets/js/jquery-2.1.0.min.js"></script>
  <script src="static/assets/js/hexagons.min.js"></script>
  <link rel="icon" href="https://cdn2.iconfinder.com/data/icons/tasty-bites-icon-set/128/coffee.png">
</head>
<body>
  <header>
<!-- nav bar -->
    <div id='navbar'>
      <a href='./home'>HOME</a>
      <a href='./contact'>ABOUT</a>
      <a href='./map'>MAP</a>
      <a hrer='./quiz'>TEST</a>
    </div>
<!-- /nav bar -->
  </header>
  <h2=class 'titleinvisible'>TEST</h2>

  <!--  quiz -->
  <div class="container">
    <div style="text-align:center">
      <h3 id='about-title'>What does your choice of coffee say about you?</h3>
    </div>
    <div class="row">

      <div class="column">
        <p id='quote'>Americano? Latte? Espresso?</p>
        <p id='us'> Do you like a foamy dainty cup of the steaming delight, or can’t say no to a tall hot mug of black coffee in the morning?
           Even scientists agree, your choice of beverage says a lot about your personality, mood, and behavior.
            Those who like their latte sweet are friendly and caring by nature while those who think a foamy latte is their favorite tend to have a strong opinion on everything they care about.
              </p>

        <p id='suggestion'>So what’s your style and what does your favorite cup of coffee say about you? </p>
        <p>Please select your typical coffee order:</p>

        <form action='/quiz' method='POST'>
            <div>
              <input type="radio" name="option" value="americano" checked> Americano<br>
              <input type="radio" name="option" value="cappuccino"> Cappuccino<br>
              <input type="radio" name="option" value="espresso"> Espresso<br>
              <input type="radio" name="option" value="latte"> Latte
            </div>


            <div>
              <input type="submit" value="Submit">
            </div>
          </form>


      </div>
      <div class="column">
        <img class="img-responsive" src='static/images/8.jpg' style="width:95%;height:95%;padding-bottom:50px;">
      </div>
    </div>
  </div>



<!-- /footer -->

<footer>
  <p id='footertext'>CONNECT WITH US</p>
  <a href="https://www.facebook.com/"><span class="hb hb-xs spin-icon inv"><i class="fa fa-facebook"></i></span></a>
  <a href="https://twitter.com/"><span class="hb hb-xs spin-icon inv"><i class="fa fa-twitter"></i></span></a>
  <a href="https://plus.google.com/discover"><span class="hb hb-xs spin-icon inv"><i class="fa fa-google-plus"></i></span></a>
	<a href="https://www.youtube.com/"><span class="hb hb-xs spin-icon inv"><i class="fa fa-youtube"></i></span></a>
  <a href="https://en.wikipedia.org/wiki/RSS"><span class="hb hb-xs spin-icon inv"><i class="fa fa-rss-square"></i></span></a>
</footer>
</body>
</html>
